<!DOCTYPE html>
<html>
<head>
    <title>Enclosure Details</title>
</head>
<body>
    <h1>Enclosure Details</h1>
    <ul>
        <li>Environment: {{ enclosure.environment }}</li>
        <li>Open to Visitors: {{ "Yes" if enclosure.open_to_visitors else "No" }}</li>
        <li>Animals in the enclosure:
            <ul>
                {% for animal in enclosure.animals %}
                    <li>{{ animal.name }} - {{ animal.species }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</body>
</html>
